/pycharm-debug.egg
pycharm-debug.egg
pydevd-pycharm.egg
pydevd/
*~
*.*~
*.aux.xml
*.bak
build
.coverage
coverage.xml
build
dist
docs/build
docs/_build
docs/output
docs/release-approval-docs
*.DS_Store
.idea
libpeerconnection.log
nohup.out
.noseids
nosetests.xml
*.orig
*.*.orig
pep8.log
.project
*.pyc
pydevpath.txt
.pydevproject
pyflakes.log
pylint.log
qgispath.txt
result.txt
.settings
setup.cfg
.svn
.vagrant
venv
/utilities/test/[temporary file].*
/utilities/test/[temporary_file]/
[temporary file].*
[temporary_file]
